#img{
	display:inline;
	/*width: 100%;
	max-width:300px;
	*/
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s;

	width: 250px;
	height: 250px;
	object-fit: cover;

}

#img:hover {opacity: 0.7;}

.modal-backdrop {
  z-index: -1;
}

#annotateCorner {
	position: absolute;
	top: 1px;
    right: 13px;
	
	border-style: solid;
	border-width: 10px 0 0 18px;
	border-color: transparent transparent transparent #DC3545;
	z-index: -1;
}

#annotateBtn {
	overflow: hidden;
	position: absolute;
	top: 10px;
    right: 10px;
	text-align: center;
	
	width: 20px;
	height: 30px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left-style: double;
	border-left-color: white;
	border-left-width: 5px;
	
	cursor: pointer;
	background-color: #DC3545;
	animation-name: compress;
	animation-duration: 0.5s;
	color: white;
	
}

#annotateBtn:hover {
	animation-name: expand;
	animation-duration: 0.5s;
	width: 100px;
}

@keyframes expand {
  0% {
    width: 20px;
  }
  100% {
    width: 100px;
  }
}

@keyframes compress {
  0% {
    width: 100px;
  }
  100% {
    width: 20px;
  }
}

.profile_headers {
	font-size: 30px;
	font-weight: 600;
}

#profile-text-div {
	text-align: center;
}

#works_as_header {
	font-size: 25px;
}

.profile_icons{
	cursor: pointer;
	transition: 0.3s;
	width: 20px;
	height: 20px;
}

.profile_icons:hover {opacity: 0.7;}

#profile_name {
	font-size: 30px;
	font-weight: 600;
}

.image-upload {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.imgfile {
	idth: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #AAABB8;
}
/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
    color: #464866;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item .nav-link{
    color: #AAABB8;
    /*background-color: #2e9cca;  add background-color to active links */
}

.navbar-custom .nav-item:hover .nav-link {
    color:#000000;
    background-color: #d3d3d3;
    border-radius: 25px;

}


.navbar-custom{
    /*background-color: #25274d;*/
    border-bottom: 1px solid #AAABB8;
}

#navbarContent{
    padding-left: 17px;
}

.content-section{
    border:1px solid blue;
    margin-left:  12px;
}

.loginButton{
    margin-right:0;
    padding-left: 25px;
    border:1px solid blue;
}




.color1{
    color: #25274d;
}

.color2{
    color: #464866;
}

.color3{
    color: #AAABB8;
}

.color4{
    color: #2e9cca;
}

.color5{
    color: #29648a;
}
