<!--Letting the browser know this is a html 5 type-->
<!DOCTYPE html>
<html>
	<head>
		<!--Require meta tags and imports, view port for auto resizing -->
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Bootstrap CSS -->
  		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">


		<!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	    <script type="text/javascript">

		 $(document).ready(function() {
		 	showAlert();


		 	function showAlert() {
			    $("#pagealert").fadeTo(2000, 500).slideUp(500, function() {
			      $("#pagealert").slideUp(500);
			    });
			};
		 });


		$(function () {
        $("#button").click(function () {
            if ($(this).val() == "Yes") {
                $("#infodiv").show();
                $(this).val("No");
            } else {
                $("#infodiv").hide();
                $(this).val("Yes");
            }
        });
    	});
		</script>

		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>Speech2Text</title>
		{% endif %}
	</head>

	<body>

	  	<nav class="navbar navbar-expand-md navbar-custom">

			<a class="navbar-brand" href="/"><img src="{{ url_for('logo') }}" width="30px" height="30px"> Speech2Text</a>
		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarContent">
		  	<ul class="navbar-nav mr-auto">
		        <li class="nav-item active"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
		        <li class="nav-item"><a class="nav-link" href="{{ url_for('transcribe') }}">Transcribe</a></li>

			{% if session['USER'] %}
				<li class="nav-item"><a class="nav-link" href="{{ url_for('groups') }}">Groups</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('list_transcripts') }}">Transcripts</a></li>
			{% endif %}

		    </ul>
		    <ul class="navbar-nav ml-auto">
		   		{% if session['USER'] %}
              		<li class="nav-item dropdown drop">
              		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			           Profile </a>
			        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="{{ url_for('profile') }}">My account</a>
			          <a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a>
			        </div>
			        </li>
              	{% else %}
              		<li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Log In</a></li>
              		<li class="nav-item"><a class="nav-link" href="{{ url_for('signup') }}">Register</a></li>
              	{% endif %}
		    </ul>
		  </div>

		</nav>



		<main role="main" class="container-fluid">
	    <table style="width:100%">
	    	<tr class="section">
	    		<td class="sidebar" style="width:250px;">
	      		{% block subtab %}{% endblock %}
				</td>
	   			<td class="centercontent" id="content" style="">
	        	<div class="content-section container-fluid">
	          {% with messages = get_flashed_messages(with_categories=true) %}
	            {% if messages %}
	              {% for category, message in messages %}
	                <div id="pagealert" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
	                  {{ message }}
	                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
	                </div>
	              {% endfor %}
	            {% endif %}
	          {% endwith %}
	          {% block content %}{% endblock %}
	          <input id="button" type="button" value="Yes" onclick="ShowHideDiv(this)" />
	        </div>
	    	<td class="sidebar" id="infodiv" >


	    	<td>

	    	</td>


	    </main>


	</body>

</html>
