{% extends "base.html" %}

{% block subtab %}
<script type="text/javascript">
$(document).ready(function(){

  $('.tabs a').click(function(event) {
    event.preventDefault();

    // Toggle active class on tab buttons
    $(this).children().removeClass("tabstyle");
    $(this).children().addClass("currenttab");
    $(this).parent().siblings().children().children().removeClass("currenttab");
    $(this).parent().siblings().children().children().addClass("tabstyle");

    // display only active tab content
    var activeTab = $(this).attr("href");
    $('.tabcontent').not(activeTab).css("display","none");
    $(activeTab).fadeIn();

  });

});
</script>
 <ul class="tabs container-fluid">
        <li>
            <a href="#tab1"><label class="currenttab container-fluid">Create a New Group</label></a>
        </li>
        <li >
            <a href="#tab2"><label class="tabstyle container-fluid">Groups</label></a>
        </li>
        <li>
            <a href="#tab3"><label class="tabstyle container-fluid">Tab C</label></a>
        </li>
        <li>
            <a href="#tab4"><label class="tabstyle container-fluid">Tab D</label></a>
        </li>
</ul>
{% endblock %}
{% block content %}
    <div id="tab1" class="tabcontent">
	<h1>Create New Group:</h1>

	<form action="" method="post" enctype="multipart/form-data" novalidate>
		<!-- old
		{{ groupform.hidden_tag() }} <!Protects against CSRF>
		<p>
			{{ groupform.grpname.label }}<br>
			{{ groupform.grpname(size=32) }}<br>
			{% for error in groupform.grpname.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>

		<p>{{ groupform.add() }}</p>
		-->
	{{ groupform.hidden_tag() }}
	<div class="row">
	<div class="form-group col-md-4">
        {{ groupform.grpname.label(class="form-control-label") }}
        {% if groupform.grpname.errors %}
            {{ groupform.grpname(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in groupform.grpname.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ groupform.grpname(class="form-control form-control-lg") }}
        {% endif %}
    </div>
    <div class="form-group col-md-2" style="margin-top:36px">
        {{ groupform.add(class="btn btn-outline-info") }}
    </div>
	</div>
	</form>
    </div>

    <div id="tab2" class="tabcontent">
	<h2>Groups:</h2>
	<table class="table container-fluid">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>Group Creator</th>
				<th>Owner</th>
				<th>Leaders</th>
				<th>Members</th>
				<th></th>
			</tr>
		</thead>

		{% for grp in grpsTable %}
			<tr>
				<td><a href="{{ url_for('members', group_id=grp.group_id) }}">{{ grp.group_name }}</a></td>
				<td>{{ names.get(grp.username) }}</td>
				<td>{{ grpsOwn.get(grp.group_id) }}</td>
				<td>{{ grpsLead.get(grp.group_id) }}</td>
				<td>{{ grpsMem.get(grp.group_id) }}</td>
				{% if isOwner[grp.group_id] %}
					<td><a href="{{ url_for('delete_group', group_id=grp.group_id)}}" class="btn btn-danger" role="button">Delete</a></td>
				{% else %}
					<td></td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
    </div>

{% endblock %}
