{% extends "base.html" %}
{% block content %}
	<h1>Create New Group:</h1>

	<form action="" method="post" novalidate>
		{{ groupform.hidden_tag() }} <!Protects against CSRF>
		<p>
			{{ groupform.grpname.label }}<br>
			{{ groupform.grpname(size=32) }}<br>
			{% for error in groupform.grpname.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>

		<p>{{ groupform.add() }}</p>
	</form>


	<h2>Groups:</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Group Creator</th>
			<th>Owner</th>
			<th>Leaders</th>
			<th>Members</th>
			<th></th>
		</tr>
		{% for grp in grpsTable %}
			<tr>
				<td><a href="{{ url_for('members', group_id=grp.group_id) }}">{{ grp.group_name }}</a></td>
				<td>{{ names.get(grp.username) }}</td>
				<td>{{ grpsOwn.get(grp.group_id) }}</td>
				<td>{{ grpsLead.get(grp.group_id) }}</td>
				<td>{{ grpsMem.get(grp.group_id) }}</td>
				{% if isOwner[grp.group_id] %}
					<td><a href="{{ url_for('delete_group', group_id=grp.group_id)}}">Delete</a></td>
				{% else %}
					<td></td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
	

{% endblock %}
