{% extends "base.html" %}
{% block subtab %}
<script type="text/javascript">
$(document).ready(function(){

  $('.tabs a').click(function(event) {
    event.preventDefault();

    // Toggle active class on tab buttons
    $(this).children().removeClass("tabstyle");
    $(this).children().addClass("currenttab");
    $(this).parent().siblings().children().children().removeClass("currenttab");
    $(this).parent().siblings().children().children().addClass("tabstyle");

    // display only active tab content
    var activeTab = $(this).attr("href");
    $('.tabcontent').not(activeTab).css("display","none");
    $(activeTab).fadeIn();

  });

  if("{{tabs}}" == "1"){
  	$('#tab1').fadeIn();

  }else if("{{tabs}}" == "2"){
	
	// Check if user is authorised
	var role = "{{ role }}";
	if (role == 'owner' || role == 'leader') {
  
		$('.tabcontent').not('tab1').css("display","none");
		$('#tab2').fadeIn();
		$('#sidetab1').removeClass("currenttab");
		$('#sidetab1').addClass("tabstyle");
		$('#sidetab2').removeClass("tabstyle");
		$('#sidetab2').addClass("currenttab");
	
	}
	
  }else if("{{tabs}}" == "3"){
	
	// Check if user is authorised
	var role = "{{ role }}";
	if (role == 'owner' || role == 'leader') {
  
	
		$('.tabcontent').not('tab1').css("display","none");
		$('#tab3').fadeIn();
		$('#sidetab1').removeClass("currenttab");
		$('#sidetab1').addClass("tabstyle");
		$('#sidetab3').removeClass("tabstyle");
		$('#sidetab3').addClass("currenttab");
		
	}
  }

});
</script>
<label class="grouplabel"><span id="sideHead">Viewing group</span><br/><span id="sideName">{{ grpObj.group_name }}</span></label>
 <ul class="tabs container-fluid">
        <li>
            <a href="#tab1"><label id="sidetab1" class="currenttab container-fluid">Current users</label></a>
        </li>
		{% if role == 'owner' or role == 'leader' %}
        <li>
            <a href="#tab2"><label id="sidetab2" class="tabstyle container-fluid">Add new users</label></a>
        </li>
        <li>
            <a href="#tab3"><label id="sidetab3" class="tabstyle container-fluid">Change users</label></a>
        </li>
		{% endif %}
</ul>
{% endblock %}
{% block content %}

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script>
	$(document).ready(function() {

		var memList = []
		var memNameList = []
		var memRoleList = []

		var all_user_list = [];
		var all_name_list = [];

		var add_members=[];

		function load_all_users_list(){
			$.getJSON('/all_users', function(data, status, xhr){

				for (var i = 0; i < data.length; i++ ) {
					all_user_list.push(data[i].username);
					all_name_list.push(data[i].name);
				}
			});
		};
		load_all_users_list();

		function load_all_mem_list(){
			url = '{{ url_for("get_mem", group_id=grpObj.group_id) }}'
			$.getJSON(url, function(data, status, xhr){

				for (var i = 0; i < data.length; i++) {
					memList.push(data[i].username);
				}

			});

		};
		load_all_mem_list();


		$('#username').autocomplete({
			source: all_user_list,
		});

		$('#select-user').click(function(){
			var username = $("#username").val();
			$("#username").val("");

			var invalid = true;
			for (var i = 0; i < all_user_list.length; i++) {
				if (username == all_user_list[i]) {
					invalid = false;
					break;
				}
			}

			var duplicate = false;
			for (var i = 0; i < add_members.length; i++) {
				if (username == add_members[i]) {
					duplicate = true;
					break;
				}
			}

			var alrMem = false;
			for (var i = 0; i < memList.length; i++) {

				if (username == memList[i]) {
					alrMem = true;
					break;
				}
			}

			if (duplicate) {
				alert("Duplicate entry!");
			} else if (invalid) {
				alert("There is no such user!");
			} else if (alrMem) {
				alert("User is already part of the group")
			} else {
				var name;

				for (var i = 0; i < all_user_list.length; i++) {
					if (all_user_list[i] == username) {
						name = all_name_list[i];
						break;
					}
				}

				add_members.push(username);

				var user_profile = "{{url_for('public_profile', username='UNAME')}}".replace("UNAME", username);

				var markup = "<tr class='userRows'><td><input type='checkbox' name='record'></input></td><td title='" + username + "' class='uname'><a href='" + user_profile + "'>" + username + "</td><td>" + name + "</td><td><select><option value='member'>Member</option><option value='leader'>Leader</option><option value='owner'>Owner</option></select></td></tr>";
				$("#userBody").append(markup);
			}

		});

		$('#add-member-btn').click(function(){

			var roles = [];
			$("#userBody").find('.userRows').each(function(){
				roles.push($(this).find("option:selected").val());
			});

			$.post('/add_members',{'add_members':add_members, 'grpId':'{{grpObj.group_id}}', 'roles':roles},function(data,status){
				if (data == 'Members successfully added') {
					add_members = []

					alert(data);
					location.reload(true);
				} else {
					alert("Unable to add members!");
				}
			});

		});

		$("#clear-user-rows").click(function() {
            $("#userBody").find('input[name="record"]').each(function(){
            	if($(this).is(":checked")){

					var clear_user = $(this).parents("tr").find(".uname").attr("title");
					add_members = add_members.filter(function(e) { return e !== clear_user })
					$(this).parent().parent().remove();

                }
            });
        });

		// Functions for editing/deleting members

		var deleteMembers = []

		$("#clear-mem-rows").click(function() {
            $("#editBody").find('input[name="record"]').each(function(){
            	if($(this).is(":checked")){

					var clear_user = $(this).parents("tr").find(".editUName").attr("title");
					deleteMembers.push(clear_user);

					$(this).parent().parent().remove();

                }
            });
        });

		$('#save-changes').click(function(){
			var editMembers = [];
			var roles = [];

			$("#editBody").find('.editRows').each(function(){
				editMembers.push($(this).find('.editUName').attr('title'));
				if ($(this).find('.editUName').attr('title') == '{{grpObj.username}}') {
					roles.push('owner');
				} else {
					roles.push($(this).find("option:selected").val());
				}

			});

			$.post('/edit_members',{'editMembers':editMembers, 'deleteMembers':deleteMembers, 'grpId':'{{grpObj.group_id}}', 'roles':roles},function(data,status){
				if (data == 'Members successfully changed') {
					deleteMembers = []

					alert(data);
					location.reload(true);
				} else {
					alert(data);
				}
			});

		});

	});
	</script>
	<div id="tab1" class="tabcontent">
	<h2>Current Users:</h2>
	<!-- <table class="table">
		<thead class="thead-dark">
		<tr>
			<th>Owner</th>
			<th>Leaders</th>
			<th>Members</th>
		</tr>
		</thead>
		<tr>
			<td>{{ grpOwn }}</td>
			<td>{{ grpLead }}</td>
			<td>{{ grpMem }}</td>
		</tr>
	</table> -->
	
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Username</th>
					<th>Name</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
				{% for gm in allGrpMem %}
					<tr>
						<td title="{{gm.username}}"><a href="{{ url_for('public_profile', username=gm.username)}}">{{ gm.username }}</a></td>
						<td>{{ gm.name }}</td>
						<td>
						{% if gm.username == grpObj.username %}
							Group Creator (Owner)
						{% else %}
							{% if 'owner' == gm.role %}
								Owner
							{% endif %}

							{% if 'leader' == gm.role %}
								Leader
							{% endif %}

							{% if 'member' == gm.role %}
								Member
							{% endif %}
						{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
			</table>
	</div>
	
	{% if role == 'owner' or role == 'leader' %}
	<div id="tab2" class="tabcontent">
		<div class="row">
		<form id="addUserForm" class="container-fluid" action="" method="post" novalidate>
			<h2>Add New Users:</h2>
			<div class="form-group ui-widget">
			Invite Users: <input id="username" name="username"></input> <input type="button" class="btn btn-primary" id="select-user" value="Select User">
			</div>
			<div class="form-group">
			<table id="userTable" class="table">
				<thead class="thead-dark">
					<tr>
						<th></th>
						<th>Username</th>
						<th>Name</th>
						<th>Role</th>
					</tr>
				</thead>
				<tbody id="userBody">
				</tbody>
			</table>

			<input id="clear-user-rows" value="Clear Rows" type="button" class="btn btn-danger"></input>
			<input id="add-member-btn" value="Add users" type="button" class="btn btn-success"></input>
			</div>
		</form>
		</div>
	</div>

		<div id="tab3" class="tabcontent">
		<div class="row">
			<form id="editMemForm" class="container-fluid" action="" method="post" novalidate>
				<h2>Change Current Users:</h2>
						<table id="editTable" class="table">
						<thead class="thead-dark">
							<tr>
								<th></th>
								<th>Username</th>
								<th>Name</th>
								<th>Role</th>
							</tr>
						</thead>
						<tbody id="editBody">
							{% for gm in allGrpMem %}
								<tr class="editRows">
									<td>
									{% if gm.username != grpObj.username %}
										<input type="checkbox" name="record"></input>
									{% endif %}
									</td>
									<td title="{{gm.username}}" class="editUName"><a href="{{ url_for('public_profile', username=gm.username)}}">{{ gm.username }}</a></td>
									<td>{{ gm.name }}</td>
									<td>
									{% if gm.username == grpObj.username %}
										Group Creator (Owner)
									{% else %}
										<select>
											{% if 'owner' == gm.role %}
												<option value="owner" selected="selected">Owner</option>
												<option value="leader">Leader</option>
												<option value="member" >Member</option>
											{% endif %}

											{% if 'leader' == gm.role %}
												<option value="owner">Owner</option>
												<option value="leader" selected="selected">Leader</option>
												<option value="member" >Member</option>
											{% endif %}

											{% if 'member' == gm.role %}
												<option value="owner">Owner</option>
												<option value="leader">Leader</option>
												<option value="member" selected="selected">Member</option>
											{% endif %}
										</select>
									{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<input id="clear-mem-rows" value="Remove Selected" type="button" class="btn btn-danger"></input>
					<input id="save-changes" value="Save Changes" type="button" class="btn btn-success"></input>
				</form>
		</div>
	</div>
	{% endif %}


	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">


{% endblock %}
