{% extends "base.html" %}

{% block content %}
	<h1>Hi, {{ session['NAME'] }}!</h1>
	
	<form action="" method="post" novalidate>
		{{ passform.hidden_tag() }} <!Protects against CSRF>
		<p>Change Password</p>
		<p>
			{{ passform.oldpass.label }}<br>
			{{ passform.oldpass(size=32) }}<br>
			{% for error in passform.oldpass.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ passform.newpass.label }}<br>
			{{ passform.newpass(size=32) }}
			{% for error in passform.newpass.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ passform.submit() }}</p>
	</form>
	
	<form action="" method="post" novalidate>
		{{ nameform.hidden_tag() }} <!Protects against CSRF>
		<p>Change Name</p>
		<p>
			{{ nameform.newname.label }}<br>
			{{ nameform.newname(size=32) }}<br>
			{% for error in nameform.newname.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ nameform.submit() }}</p>
	</form>
	
	<h2>Your Transcripts:</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Time Created</th>
		</tr>
		{% for tran in transcripts %}
			<tr>
				<td><a href="{{ url_for('download', filename=tran.name) }}">{{ tran.name }}</a></td>
				<td>{{ tran.created_time }}</a></td>
				<td><a href="{{ url_for('edit', old_filename=tran.name) }}">Edit</a></td>
				<td><a href="{{ url_for('delete', filename=tran.name) }}">Delete</a></td>
				<td><a href="{{ url_for('share', filename=tran.name) }}">Share</a></td>
			</tr>
		{% endfor %}
	</table>
	
{% endblock %}