{% extends "base.html" %}
{% block content %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
        <script type="text/javascript">
            var password = document.getElementById('password');
            var meter = document.getElementById('password-strength-meter');
            var text = document.getElementById('password-strength-text');

             function validatePassword(password) {

                // Do not show anything when the length of password is zero.
                if (password.length === 0) {
                    document.getElementById("msg").innerHTML = "";
                    return;
                }
                // Create an array and push all possible values that you want in password
                var matchedCase = new Array();
                matchedCase.push("[$@$!%*#?&]"); // Special Charector
                matchedCase.push("[A-Z]");      // Uppercase Alpabates
                matchedCase.push("[0-9]");      // Numbers
                matchedCase.push("[a-z]");     // Lowercase Alphabates

                // Check the conditions
                var ctr = 0;
                for (var i = 0; i < matchedCase.length; i++) {
                    if (new RegExp(matchedCase[i]).test(password)) {
                        ctr++;
                    }
                }
                // Display it
                var color = "";
                var strength = "";
                var mete=0;
                switch (ctr) {
                    case 0:
                        mete=0;
                    case 1:
                        mete=1;
                    case 2:
                        mete=2;
                        strength = "Very Weak";
                        color = "red";
                        break;
                    case 3:
                        mete=3;
                        strength = "Medium";
                        color = "orange";
                        break;
                    case 4:
                        mete=4;
                        strength = "Strong";
                        color = "green";
                        break;
                }
                document.getElementById('password-strength-text').innerHTML = strength;
                document.getElementById('password-strength-text').style.color = color;
                document.getElementById('password-strength-meter').value = mete;
            }
			
			function validateRegistration() {
				var vEmail = false;
				var vName = false;
				var vPass = false;
				var cPass = false;
				
				// Validate Email
				var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
				var emailText = $('#username').val();
				if (mailformat.test(emailText)) {
					if (emailText.length > 255) {
						$('#username').addClass('is-invalid');
						$('#usernameErr').html('Email address is too long');
						vEmail = false;
					} else {
						$('#username').removeClass('is-invalid');
						$('#usernameErr').html('');
						vEmail = true;
					}
					
				} else {
					$('#username').addClass('is-invalid');
					$('#usernameErr').html('Please enter a valid email address');
					vEmail = false;
				}
				
				// Validate Name
				var nameText = $('#name').val();
				if (nameText == '') {
					$('#name').addClass('is-invalid');
					$('#nameErr').html('Name cannot be empty');
					vName = false;
				} else {
					if (nameText.length > 255) {
						$('#name').addClass('is-invalid');
						$('#nameErr').html('Name is too long');
						vName = false;
					} else {
						$('#name').removeClass('is-invalid');
						$('#nameErr').html('');
						vName = true;
					}
				}
				
				// Validate Password
				var passText = $('#password').val();
				if (passText == '') {
					$('#password').addClass('is-invalid');
					$('#passwordErr').html('Password cannot be empty');
					vPass = false;
				} else {
					$('#password').removeClass('is-invalid');
					$('#passwordErr').html('');
					vPass = true;
				}
				
				// COnfirm password
				var cPassText = $('#cpass').val();
				if (cPassText == passText) {
					$('#cpass').removeClass('is-invalid');
					$('#cpassErr').html('');
					cPass = true;
				} else {
					$('#cpass').addClass('is-invalid');
					$('#cpassErr').html('Entered password is not the same');
					cPass = false;
				}
				
				if (vEmail && vName && vPass && cPass) {
					return true;
				} else {
					return false;
				}
				
			}
			
        </script>
		
		
	<div id="no_side_centerised">
		
		<br/>
		
		<form action="" method="post" enctype="multipart/form-data" onsubmit="return validateRegistration()" novalidate>
        <div class="row">
        <div class='col-md-12'>
			{{ form.hidden_tag() }} <!Protects against CSRF>
			 <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign Up</legend>

                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(id="username", class="form-control form-control-lg is-invalid") }}
                        <div id="usernameErr" class="invalid-feedback">
                            {% for error in form.username.errors %}
								{{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
						 <div id="usernameErr" class="invalid-feedback"></div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(id="name", class="form-control form-control-lg is-invalid") }}
                        <div id="nameErr" class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(id="name", class="form-control form-control-lg") }}
						 <div id="nameErr" class="invalid-feedback"></div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(id="password", class="form-control form-control-lg is-invalid") }}
                        <div id="passwordErr" class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(id="password", class="form-control form-control-lg",onkeyup="validatePassword(this.value);") }}
						<div id="passwordErr" class="invalid-feedback"></div>
                    {% endif %}
                </div>
                <meter max="4" low="1" high="3" optimum="4" id="password-strength-meter" style="width: 100%; height: 20px;"></meter>
                <p id="password-strength-text"></p>

				<div class="form-group">
				{{ form.confirm_password.label(class="form-control-label") }}
				{% if form.confirm_password.errors %}
					{{ form.confirm_password(id="cpass", class="form-control form-control-lg is-invalid") }}
					<div id="cpassErr" class="invalid-feedback">
						{% for error in form.confirm_password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.confirm_password(id="cpass", class="form-control form-control-lg") }}
					<div id="cpassErr" class="invalid-feedback"></div>
				{% endif %}
				</div>

                <br>
            </fieldset>
            <small class="text-muted ml-2">
                <a href="{{ url_for('login') }}">Already have an account?</a>
            </small>

            <div class="text-right">
                {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </div>
            </div>


		</form>
		
	</div>
{% endblock %}

