{% extends "base.html" %}

{% block content %}

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script type="text/javascript">
	$(document).ready(function() {

		$('#uploadField').change(function() {
			var fileInput = document.getElementById('uploadField');
			if (fileInput.files.length == 0) {
				document.getElementById('fileName').innerHTML = "";
			} else {
				document.getElementById('fileName').innerHTML = fileInput.files[0].name;
			}

		});

	});
	</script>

	<h1>Transcribe Audio File</h1>
	<form action = "" method = "post" enctype="multipart/form-data" novalidate>
         {{ transcribeForm.hidden_tag() }} <!Protects against CSRF>
         <p>
		 <div class="form-group">
			  <label>Select an Audio</label>
			  <div class="custom-file">
				{{ transcribeForm.upload.label}}
					<label class="custom-file-label">
						{{ transcribeForm.upload(class="custom-file-input", id="uploadField") }}
						<label id="fileName" style="position: absolute; left: 8px; top: 4px; z-index: -0.25;"></label>
					</label>
			  </div>

		</div>
		</p>

		{% for error in transcribeForm.upload.errors %}
				<label style="color: red;">[{{ error }}]</label>
		{% endfor %}

		<p>
		{{ transcribeForm.submit(class="btn btn-primary") }}</p>
    </form>
    <div class="row">
    <div class="col col-md-12"> <!-- style=" border: 2px solid red; border-radius: 25px;"-->

	<form action = "{{ url_for('save') }}" method = "post" enctype="multipart/form-data" novalidate>
		{{ transcriptForm.hidden_tag() }} <!Protects against CSRF>
		<div>
		<p>
			{{ transcriptForm.transcript(class="container-fluid", rows="20%", style="border-radius: 25px;") }}
		</p>
		</div>

		{% if user is defined %}
			<p>
				<label>{{ transcriptForm.name.label }}: </label> {{ transcriptForm.name(style="border-radius: 10px;") }}<br>
				{% for error in transcriptForm.name.errors %}
					<label style="color: red;">[{{ error }}]</label><br>
				{% endfor %}

				{{ transcriptForm.save(class="btn btn-primary") }}
			</p>
		{%endif%}

	</form>
    </div>
    </div>

{% endblock %}
