{% extends "base.html" %}

{% block content %}
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='playback.css') }}">
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
	
	$(document).ready(function() {

		$('#uploadField').change(function() {
			var fileInput = document.getElementById('uploadField');
			if (fileInput.files.length == 0) {
				document.getElementById('fileName').innerHTML = "";
			} else {
				document.getElementById('fileName').innerHTML = fileInput.files[0].name;
			}

		});
		
		
		$('#myModal').on('shown.bs.modal', function () {
			$('#annotationBox').focus();
		})
		
		var prevVal = '';
		$('#annotateBtn').click(function() {
			// Get previous value in annotations (if any)
			prevVal = $("#myModal").find('#annotationBox').val();
		});
		
		$('#annotateClose').click(function() {
			
			// Change annotation box to previous value
			$("#myModal").find('#annotationBox').val(prevVal);
			
		});
		
		$('#transcribeBtn').click(function(){
			
			// Added loading gif
			$('#loader').css('display', 'inline');
			
		});
		
		var currentTab = 1;
		$('#transcript_1_tab').click(function(){
			
			if (currentTab != 1) {
				if (currentTab == 2) {
					// Update current tab
					$('#transcript_2').html($('#transcript_box').val());
				} else if (currentTab == 3) {
					// Update current tab
					$('#transcript_3').html($('#transcript_box').val());
				}
				
				// Update transcript box with transcript_1
				$('#transcript_box').val($('#transcript_1').html());
				
				// Update z-index
				$("#transcript_1_tab").css("z-index", "83");
				$("#transcript_1_tab").css("border-bottom-color", "white");
				
				$("#transcript_2_tab").css("z-index", "82");
				$("#transcript_2_tab").css("border-bottom-color", "DarkGray");
				
				$("#transcript_3_tab").css("z-index", "81");
				$("#transcript_3_tab").css("border-bottom-color", "DarkGray");
				
				currentTab = 1;
			}
			
		});
		
		$('#transcript_2_tab').click(function(){
			
			if (currentTab != 2) {
				if (currentTab == 1) {
					// Update current tab
					$('#transcript_1').html($('#transcript_box').val());
				} else if (currentTab == 3) {
					// Update current tab
					$('#transcript_3').html($('#transcript_box').val());
				}
				
				// Update transcript box with transcript_2
				$('#transcript_box').val($('#transcript_2').html());
				
				// Update z-index
				$("#transcript_1_tab").css("z-index", "82");
				$("#transcript_1_tab").css("border-bottom-color", "DarkGray");
				
				$("#transcript_2_tab").css("z-index", "83");
				$("#transcript_2_tab").css("border-bottom-color", "white");
				
				$("#transcript_3_tab").css("z-index", "81");
				$("#transcript_3_tab").css("border-bottom-color", "DarkGray");
				
				currentTab = 2;
			}
			
		});
		
		$('#transcript_3_tab').click(function(){
			if (currentTab != 3) {
				if (currentTab == 1) {
					// Update current tab
					$('#transcript_1').html($('#transcript_box').val());
				} else if (currentTab == 2) {
					// Update current tab
					$('#transcript_2').html($('#transcript_box').val());
				}
				
				// Update transcript box with transcript_3
				$('#transcript_box').val($('#transcript_3').html());
				
				// Update z-index
				$("#transcript_1_tab").css("z-index", "81");
				$("#transcript_1_tab").css("border-bottom-color", "DarkGray");
				
				$("#transcript_2_tab").css("z-index", "82");
				$("#transcript_2_tab").css("border-bottom-color", "DarkGray");
				
				$("#transcript_3_tab").css("z-index", "83");
				$("#transcript_3_tab").css("border-bottom-color", "white");
					
				currentTab = 3;
			}
			
		});
		
		$(window).on('unload', function() {
			var fd = new FormData();
			fd.append('filename', '{{audio_filename}}');

			navigator.sendBeacon('/remove_temp_audio', fd);
		});
		
	});
	
	function validateTranscript(){
		var name = $('#transcriptName').val();
		if (name == '') {
			// No name entered
			$('#transcriptError').html('Transcript requires a name');
			return false;
		} else if (name.length > 255) {
			// Name is too long
			$('#transcriptError').html('Name can only be 1-255 characters long');
			return false;
		} else {
			return true;
		}
	}
	</script>
	
	
	
	<br/>
	<h1>Transcribe Audio File</h1>
	<form action = "" method = "post" enctype="multipart/form-data" novalidate>
         {{ transcribeForm.hidden_tag() }} <!Protects against CSRF>
         <p>
		 <div class="form-group">
			  <label>Select an Audio</label>
			  <div class="custom-file">
				{{ transcribeForm.upload.label}}
					<label class="custom-file-label">
						{{ transcribeForm.upload(class="custom-file-input", id="uploadField") }}
						<label id="fileName" style="position: absolute; left: 8px; top: 4px; z-index: -0.25;"></label>
					</label>
			  </div>

		</div>
		</p>

		{% for error in transcribeForm.upload.errors %}
				<label style="color: red;">[{{ error }}]</label>
		{% endfor %}

		 <div style="margin-bottom: -40px; margin-top:25px;">{{ transcribeForm.language.label }}: {{ transcribeForm.language() }}</div>

		<p style="text-align: right;">
		{{ transcribeForm.submit(class="btn btn-primary", id="transcribeBtn") }} </p>
    </form>
    <div class="row">
    <div class="col col-md-12"> <!-- style=" border: 2px solid red; border-radius: 25px;"-->
	
	
	<div id="transcript_1" style="display: none"> {{ transcript_1 }} </div>
	<div id="transcript_2" style="display: none"> {{ transcript_2 }} </div>
	<div id="transcript_3" style="display: none"> {{ transcript_3 }} </div>
	
	{% if audio_filename is defined %}
		<div id="audio_playback">
			<audio id="audio_player" controls>
				<source src="{{ url_for('temp_audio', filename=audio_filename) }}" type="audio/wav">
			</audio>
		</div>
	{% endif %}
	
	<div id="trans_tabs">
		<div id="transcript_1_tab" style="z-index:83">Result</div>
		<div id="transcript_2_tab" style="z-index:82">Alternative 1</div>
		<div id="transcript_3_tab" style="z-index:81">Alternative 2</div>
	</div>
	
	<img id="loader" height="25px" width="25px" style="position: absolute;top:35px;left:30px;display: none;border-radius:20px;" src="{{ url_for('load_icon') }}"/>
	
	<form action="{{ url_for('save') }}" method = "post" enctype="multipart/form-data" onsubmit="return validateTranscript()" novalidate>
		{{ transcriptForm.audio_file(value=audio_filename) }}
		{{ transcriptForm.hidden_tag() }} <!Protects against CSRF>
		<div>
		{% if user is defined %}<div id="annotateCorner" class="annotateCorner"></div>{%endif%}
		{{ transcriptForm.transcript(id="transcript_box", class="container-fluid", rows="20%", style="border-radius: 25px;") }}
		{% if user is defined %}<div id="annotateBtn" class="annotateBtn launch-modal"  data-toggle="modal" data-target="#myModal">Annotations</div>{%endif%}
		</div>
		
		{% if user is defined %}
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel" style="line-height:10px;">Annotations<br/>
				<span style="font-style:italic;font-size:10px;line-height:10px;">Enter a short description of your transcript (optional)</span></h4>
			  </div>
			 
			  <div class="modal-body">
				<!-- <textarea id="annotationBox" class="form-control"></textarea> -->
				{{ transcriptForm.annotation(class="form-control", id="annotationBox") }}
			  </div>
			  <div class="modal-footer">
				<button type="button" id="annotateClose" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
			  </div>
			</div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		{%endif%}
		
		{% if user is defined %}
			<p>
				<label>{{ transcriptForm.name.label }}: </label> {{ transcriptForm.name(id="transcriptName", style="border-radius: 10px;") }} {{ transcriptForm.save(class="btn btn-primary") }}
				<br>
				<label id="transcriptError" style="color: red;">
					{% for error in transcriptForm.name.errors %}
						[{{ error }}]<br>
					{% endfor %}
				</label>
				
			</p>
		{%endif%}

	</form>
    </div>
    </div>

{% endblock %}
