{% extends "base.html" %}

{% block content %}
	<div class="content-section">
	<div class="row">
    <div class="col col-md-12">
	<br/>
	<h1>Now Viewing: {{ filename }}</h1>

	<form action = "" method = "post" enctype="multipart/form-data" novalidate>
		{{ transcriptForm.hidden_tag() }}
		<div>
		<p>
			{{ transcriptForm.transcript(class="container-fluid", rows="20%", style="border-radius: 25px;") }}
		</p>
		</div>

		<p>
			<label>{{ transcriptForm.name.label}}:  </label> {{ transcriptForm.name(style="border-radius: 10px;", readonly=True) }}<br>
			{% for error in transcriptForm.name.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>

	</form>
	</div>
	</div>
	</div>


{% endblock %}